script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript', src='javascripts/lib/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='javascripts/lib/angular/angular.min.js')
script(type='text/javascript', src='javascripts/diploma-app.js')
