doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap.min.css')
  body
    block content

script(src='javascripts/lib/angular/angular.js')
script(src='javascripts/lib/jquery-1.9.0.min.js')
script(src='javascripts/lib/bootstrap/js/bootstrap.min.js')