doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Tangle Your Diploma - Upload
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body(ng-app="DiplomaTangle" ng-controller="DiplomaController")
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li.active
            a(href='/upload') Upload
        h3.muted Tangle Your Diploma
      hr
      .jumbotron
        h1 Upload a diploma!
        p
            form(name="CheckDiploma")
                .row
                    p
                .row
                  .form-group
                    input.form-control-file(type="file", name="diploma", ng-model="diploma" file-model="files" required)
                .row
                    p
                .row
                  .form-group
                    a.btn.btn-large.btn-success(ng-click='uploadDiploma()') Upload Diploma!
        p
            {{receivedData}}
      hr
      .row-fluid.marketing
        .span6
          h4 Transparent
          p
            | Your official diploma document is available as a hash in the Tangle. Everybody is able to check the validity!
          h4 Secure
          p
            | Once you upload your diploma document, we generate a cryptographic of this document and store it in the Tangle. This cannot be changed so stays valid and true!
          h4 Valid
          p Companies and schools can sign your document to prove you actually did the course or study with them.
        .span6
          h4 Fast
          p
            | The Javascript library is used to create the transactions and search the Tangle. It's speedy!
          h4 Free
          p
            | No money is earned by the website, we just want to help you!
          h4 Open Source
          p Feel free to download the code and improve this application yourself! Check our Github!
      hr
      .footer
        p © The World :-)
  include ./partials/scripts